.content {
  max-width: 1180px;
  margin: 0 auto;
  padding: 40px 0;
}

.content__title {
  margin: 0;
  margin-bottom: 40px;
  color: darkslategrey;
}

.content__text {
  margin: 0;
  line-height: 1.4;
}

.content__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__element {
  width: 600px;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
